.col {
	width: 100%;
	padding-inline: 12px;

	// для размера 1400px
	&-12 {
		flex: 0 0 100%;

		max-width: 100%;
	}

	&-11 {
		flex: 0 0 91.63%;

		max-width: 91.63%;
	}

	&-10 {
		flex: 0 0 83.33%;

		max-width: 83.33%;
	}

	&-9 {
		flex: 0 0 74.97%;

		max-width: 74.97%;
	}

	&-8 {
		flex: 0 0 66.64%;

		max-width: 66.64%;
	}

	&-7 {
		flex: 0 0 58.31%;

		max-width: 58.31%;
	}

	&-6 {
		flex: 0 0 49.98%;

		max-width: 49.98%;
	}

	&-5 {
		flex: 0 0 41.65%;

		max-width: 41.65%;
	}

	&-4 {
		flex: 0 0 33.33%;

		max-width: 33.33%;
	}

	&-3 {
		flex: 0 0 24.99%;

		max-width: 24.99%;
	}

	&-2 {
		flex: 0 0 16.66%;

		max-width: 16.66%;
	}

	&-1 {
		flex: 0 0 8.33%;

		max-width: 8.33%;
	}

	// для размера 375px
	@include media(xs) {
		padding-inline: 10px;

		&-8\@xs {
			flex: 0 0 100%;

			max-width: 100%;
		}

		&-7\@xs {
			flex: 0 0 87.5%;

			max-width: 87.5%;
		}

		&-6\@xs {
			flex: 0 0 75%;

			max-width: 75%;
		}

		&-5\@xs {
			flex: 0 0 62.5%;

			max-width: 62.5%;
		}

		&-4\@xs {
			flex: 0 0 50%;

			max-width: 50%;
		}

		&-3\@xs {
			flex: 0 0 37.5%;

			max-width: 37.5%;
		}

		&-2\@xs {
			flex: 0 0 25%;

			max-width: 25%;
		}

		&-1\@xs {
			flex: 0 0 12.5%;

			max-width: 12.5%;
		}
	}
}

.offset {
	&-1 {
		margin-left: 8.333333%;
	}

	&-2 {
		margin-left: 16.666667%;
	}

	&-3 {
		margin-left: 25%;
	}

	&-4 {
		margin-left: 33.333333%;
	}

	&-5 {
		margin-left: 41.666667%;
	}

	&-6 {
		margin-left: 50%;
	}

	&-7 {
		margin-left: 58.333333%;
	}

	&-8 {
		margin-left: 66.666667%;
	}

	&-9 {
		margin-left: 75%;
	}

	&-10 {
		margin-left: 83.333333%;
	}

	&-11 {
		margin-left: 91.666667%;
	}

	@include media(xs) {
		&-1\@xs {
			margin-left: 12.5%;
		}

		&-2\@xs {
			margin-left: 25%;
		}

		&-3\@xs {
			margin-left: 37.5%;
		}

		&-4\@xs {
			margin-left: 50%;
		}

		&-5\@xs {
			margin-left: 62.5%;
		}

		&-6\@xs {
			margin-left: 75%;
		}

		&-7\@xs {
			margin-left: 87.5%;
		}
	}
}
