//- # ПОДКЛЮЧЕНИЕ КОМПОНЕНТОВ И ВСПОМОГАТЕЛЬНЫХ ФУНКЦИЙ # -//
include ../../../shared/shared
include ../../../components/components
include ../../../sections/sections

//- # ПОДКЛЮЧЕНИЕ STORE LAYOUT # -//
include main.store.pug

//- # ПОДКЛЮЧЕНИЕ STORE СТРАНИЦ И ЛОГИКИ # -//
block variables

doctype html
html(lang="ru")
	//- ## Head ## -//
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')/
		block include-css

		title= pageTitle || "Название страницы"

	body
		//- ## Svg sprite ## -//

		//- ## Header ## -//
		include ../../../features/Header/Header
		+Header(mainLayout.Header)

		//- ## Подключение main и его содержимого ## -//
		block main
			h1 Создай main и вноси в него изменения

		//- ## Footer ## -//
		include ../../../features/Footer/Footer
		+Footer(mainLayout.Footer)

		block extra-content

		//- ## Script ## -//
		block include-js
			script(src=`${jsPath}/main.js` defer)
