-
	const sectionSliderSimpleCards = {
		elem: {
			Heading: {
				data: {
					text: 'Наши награды',
				},
				bem: {
					tag: 'h2',
				},
			},
			RowTitle: {
				bem: {
					margin: 'mb-40 mb-sm-32'
				}
			},
			RowCards: {
				bem: {
					gap: 'g-sm-32'
				}
			},
			ColCards: {
				bem: {
					cols: 'col-4 col-md-3 col-sm-6',
				}
			},
			Slider: {
				data: {
					// dataSlidesPerView: 3,
					dataSlidesPerViewMd: 2,
					dataSlidesPerViewSm: '1.2',
					dataSlidesPerViewXs: 1.1,
					dataSliderInit: 'md',
					dataSliderLoop: 'loop',
				}
			},
			SliderSlides: [
				{
					elem: {
						CardSimpleImage: {
							data: {
								// imgSrc: require('IMAGES/index/icon-stand.svg')
							},
							elem: {
								Texts: [
									{
										data: {
											text: 'CX World Awards',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: 'Лучший цифровой клиентский опыт',
											tag: 'p'
										},
										bem: {
											size: 'l',
											margin: 'mb-16'
										},
									},
									{
										data: {
											text: 'март 2023',
											tag: 'p'
										},
										bem: {
											size: 's',
											color: 'dark-gray',
										},
									},
								]
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								// imgSrc: require('IMAGES/index/icon-star.svg')
							},
							elem: {
								Texts: [
									{
										data: {
											text: '«Золотое приложение»',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: '2 место в номинации «Страховой сервис» РАЭК',
											tag: 'p'
										},
										bem: {
											size: 'l',
											margin: 'mb-16'
										},
									},
									{
										data: {
											text: 'апрель 2023',
											tag: 'p'
										},
										bem: {
											size: 's',
											color: 'dark-gray',
											margin: 'mt-auto',
										},
									},
								]
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								// imgSrc: require('IMAGES/index/icon-rocket.svg')
							},
							elem: {
								Texts: [
									{
										data: {
											text: '«Эврика»',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: 'номинация <b>«За впечатляющий старт»</b>\n' +
															'форум страховых инноваций InnoIns',
											tag: 'p'
										},
										bem: {
											size: 'l',
											margin: 'mb-16'
										},
									},
									{
										data: {
											text: 'июнь 2022',
											tag: 'p'
										},
										bem: {
											size: 's',
											color: 'dark-gray',
										},
									},
								]
							}
						},
					},
				},
			],
		},
		bem: {
			roundingEffect: 'rounding-effect'
		}
	}
