-
	let pageTitle = 'Главная';
	let index = addSections();

////- секция SECTION-BANNER-INDEX
//include index-section-banner-index
//- index.section = 'sectionBannerIndex';
//
////- секция SECTION-ACTIONS
//include index-section-actions
//- index.section = 'sectionActions';
//
////- секция SECTION-TABS-SLIDERS-ANIMATION-CARDS
//include index-section-tabs-sliders-animation-cards
//- index.section = 'sectionTabsSlidersAnimationCards';
//
////- секция SECTION-REVIEWS
//include index-section-reviews
//- index.section = 'sectionReviews';
//
////- секция SECTION-SLIDER-SIMPLE-CARDS
//include index-section-slider-simple-cards
//- index.section = 'sectionSliderSimpleCards';
//
////- секция SECTION-ONLINE-DOWNLOAD
//include index-section-online-download
//- index.section = 'sectionOnlineDownload';
//
////- секция SECTION-SLIDER-CARDS
//include index-section-slider-cards
//- index.section = 'sectionSliderCards';
//
////- секция SECTION-FEEDBACK-POPUP
//include index-section-feedback-popup
//- index.section = 'sectionFeedbackPopup';
//
////- блок EXTRA-CONTENT
//include index-extra-content
//- index.section = 'extraContent';
