-
	let extraContent = {
		brandCookiePopup: {
			elem: {
				Row: {
					bem: {
						justify: 'justify-content-center'
					}
				},
				Col: {
					bem: {
						cols: 'col-5 col-l-6 col-md-4 col-sm-4 col-xs',
					}
				},
				TextCookie: {
					data: {
						text: 'Мы используем cookie — без них Интернет далеко бы не ушел. Оставаясь тут, вы принимаете <a href="#">пользовательское соглашение</a>',
						tag: 'p'
					},
					bem: {
						size: 's'
					}
				},
				ButtonCookie: {
					data: {
						text: 'Хорошо'
					},
					bem: {
						width: 'w-sm-100',
						jsClass: 'btn-cookie'
					}
				}
			}
		},
		brandAttentionPopup: {
			elem: {
				brandColumn: {
					bem: {
						display: 'd-flex',
						direction: 'flex-column'
					}
				},
				brandParagraphAttention: {
					elem: {
						brandLine: {
							arrData: [
								{
									data: {
										text: 'Сейчас мы отвечаем на звонки чуть дольше обычного, но готовы помочь онлайн — просто воспользуйтесь <a href="#" data-modal-window-open="modalWindow">формой обратной связи</a>. <br class="no-br-lg"><br class="br-xs">Мы также подготовили <a href="#">инструкцию</a> по оформлению ипотечной страховки'
									}
								},
							]
						},
					},
					bem: {
						size: 'small',
						margin: 'all-mb-8'
					},
				}
			},
			data: {
				iconButton: 'x'
			},
			bem: {
				backgroundColor: 'bg-white'
			}
		},
	}
