-
	let sectionActions = {
		elem: {
			Heading: {
				data: {
					text: 'Как работает <br class="br-xs"> наша защита',
				},
				bem: {
					tag: 'h2',
				},
			},
			RowTitle: {
				bem: {
					margin: 'mb-48 mb-sm-32'
				}
			},
			RowCards: {
				bem: {
					gap: 'g-sm-32'
				}
			},
			ColCards: {
				bem: {
					cols: 'col-4 col-sm-6',
				}
			},
			Cards: {
				elemArr: [
					{
						data: {
							// imgSrc: require('IMAGES/index/message-index.svg')
						},
						elem: {
							Texts: {
								elemArr: [
									{
										data: {
											text: 'Произошел страховой случай? <br class="br-only-xl"> Сообщите нам!',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: 'Расскажем, что делать, <a class="section-actions__tippy" href="#" data-tippy="В&nbsp;полис <b>«Пульс.&nbsp;Антиклещ»</b> включена организация медпомощи и&nbsp;реабилитации. При&nbsp;укусе клеща как&nbsp;можно скорее звоните по&nbsp;номеру 8&nbsp;800&nbsp;707&nbsp;00&nbsp;94 для&nbsp;получения оперативной медпомощи от&nbsp;нашего партнера ООО&nbsp;«Медицинский&nbsp;центр&nbsp;«АСКО-МЕД» <br><br> В&nbsp;полис <b>«Пульс.&nbsp;Питомец»</b> включен телеветеринар&nbsp;24/7. \n' +
															'Что-то случилось с&nbsp;питомцем или&nbsp;нужна консультация? Обратитесь к&nbsp;ветеринару через личный кабинет нашего партнера «КотЗдоров» или&nbsp;позвоните по&nbsp;номеру 8&nbsp;800&nbsp;101&nbsp;42&nbsp;94">организуем помощь</a> и поможем собрать документы для выплаты',
											tag: 'p'
										},
										bem: {
											size: 'l'
										},
									},
								]
							}
						}
					},
					{
						data: {
							// imgSrc: require('IMAGES/index/docs-index.svg')
						},
						elem: {
							Texts: {
								elemArr: [
									{
										data: {
											text: 'Пришлите фото и документы',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: 'Загрузите их в мобильное приложение для оценки ущерба',
											tag: 'p'
										},
										bem: {
											size: 'l',
										},
									},
								]
							}
						}
					},
					{
						data: {
							// imgSrc: require('IMAGES/index/ruble-index.svg')
						},
						elem: {
							Texts: {
								elemArr: [
									{
										data: {
											text: 'Получите выплату на&nbsp;счет',
											tag: 'p'
										},
										bem: {
											size: 'xl',
											fw: 'bold',
											margin: 'mt-16 mb-8'
										},
									},
									{
										data: {
											text: 'Рассмотрим заявку, сообщим о решении и направим вам деньги за несколько дней',
											tag: 'p'
										},
										bem: {
											size: 'l',
										},
									},
								]
							}
						}
					},
				],
			},
		},
		bem: {
			roundingEffect: 'rounding-effect',
		}
	}
