-
	const sectionFeedbackPopup = {
		data: {
			documentText: 'Договор-оферта страхования'
		},
		elem: {
			brandRow: {
				bem: {
					rowCols: 'row-cols-2 row-cols-xs-1',
					gap: 'g-16',
					margin: 'm-0 mb-32'
				},
			},
			brandModalWindow: {
				data: {
					dataModalWindow: 'modalWindow'
				}
			},
			brandHeadingFormTabsFirst: {
				data: {
					text: 'Отправить документы',
					id: 'sendDocument'
				},
				bem: {
					tag: 'h4',
					color: 'black',
					customClass: 'form-tabs__item hor-scroll-mb active'
				}
			},
			brandHeadingFormTabsSecond: {
				data: {
					text: 'Задать вопрос',
					id: 'askQuestion'
				},
				bem: {
					tag: 'h4',
					color: 'black',
					customClass: 'form-tabs__item hor-scroll-mb'
				}
			},
			brandSelect: {
				data: {
					placeholder: 'Выберите тему',
					inputName: 'singleSelect'
				},
				dataArr: {
					selectionPoints: [
						{
							data: {
								text: 'Заявить о страховом случае',
								inputValue: 'adjustment'
							}
						},
						{
							data: {
								text: 'Оформить полис',
								inputValue: 'conclusion'
							}
						},
						{
							data: {
								text: 'Расторгнуть договор',
								inputValue: 'dissolution'
							}
						},
						{
							data: {
								text: 'Внести изменения',
								inputValue: 'introduction'
							}
						}
					]
				}
			},
			brandSelectConclusion: {
				data: {
					placeholder: 'Банк ВТБ',
					inputName: 'singleSelect'
				},
				bem: {
					margin: 'mt-24 mb-32',
					customClass: 'disabled'
				},
			},
			brandHeading: {
				data: {
					text: 'Я хочу'
				},
				bem: {
					tag: 'h3',
					color: 'black'
				}
			},
			brandHeadingDrugAndDrop: {
				data: {
					text: 'Что изменить'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form',
					margin: 'all-mb-8'
				}
			},
			brandHeadingDrugAndDropConclusion: {
				data: {
					text: 'Cуть вопроса'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form',
					margin: 'all-mb-8'
				}
			},
			brandButton: {
				data: {
					text: 'Продолжить'
				},
				bem: {
					modifier: 'square',
					jsClass: 'js-feedback-button-next'
				},
				opt: {
					button: true
				}
			},
			brandButtonSubmit: {
				data: {
					text: 'Отправить',
					type: 'submit'
				},
				bem: {
					modifier: 'square',
				},
				opt: {
					button: true
				}
			},
			brandParagraph: {
				data: {
					text: 'Заполните эту форму или позвоните нам — <a href="tel:+78003021554">8 800 302 15 54</a>. Отвечаем 24/7'
				},
				bem: {
					color: 'black'
				}
			},
			brandParagraphInfoAdjustment: {
				data: {
					text: 'Если у вас есть вопрос по документам, заполните форму и оставьте обращение. Там же вы сможете прикрепить документы по страховому событию. Если вам неудобно звонить, посмотрите наши <a href="" target="_blank">инструкции</a>.'
				}
			},
			brandParagraphInfoConclusion: {
				data: {
					text: 'Для продления ипотечной страховки за 3 минуты в «ВТБ Онлайн» нажмите <a href="" target="_blank">сюда</a>. Если у вас не получается, банк требует страхование созаемщика или договор оформляется впервые, заполните эту форму.'
				}
			},
			brandParagraphInfoDissolution: {
				data: {
					text: 'Если полис оформлен в мобильном приложении, расторгнуть его можно там же. Если нет — заполните заявление и направьте его нам через эту форму. <br><br> Вы можете вернуть страховую премию в полном размере, если с момента оплаты не прошло 14 дней и вы еще не заявляли о страховом событии. Условия расторжения в иных случаях указаны в Памятке, приложенной к договору.'
				}
			},
			brandParagraphInfoIntroduction: {
				data: {
					text: 'Не нашли ответ на ваш вопрос в FAQ? Хотите изменить фамилию, номер телефона или адрес объекта страхования? Заполните эту форму. А изменить риски и суммы покрытия по действующему полису можно в приложении'
				}
			},
			brandParagraphFooter: {
				data: {
					text: 'Заполните эту форму или позвоните нам — <a href="tel:+78003021554">8 800 302 15 54</a>. Отвечаем 24/7.<br> Если вам неудобно звонить, посмотрите <a href="/insurance-case/" target="_blank">наши инструкции</a>.'
				}
			},
			brandParagraphDrugAndDrop: {
				data: {
					text: 'Если нужно изменить ваши персональные данные — прикрепите соответствующие документы'
				},
				bem: {
					color: 'black',
					size: 'small',
					margin: 'mb-24',
					color: 'light-gray'
				}
			},
			brandParagraphDrugAndDropConclusion: {
				data: {
					text: 'Укажите данные о сумме задолженности, нужных рисках, возрасту и полу застрахованных'
				},
				bem: {
					color: 'black',
					size: 'small',
					margin: 'mb-24',
					color: 'light-gray'
				}
			},
			brandHeadingAdjustment1: {
				data: {
					text: 'Заявить о страховом случае'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingAdjustment2: {
				data: {
					text: 'Как к вам обращаться'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingDissolution1: {
				data: {
					text: 'Расторжение договора'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingDissolution2: {
				data: {
					text: 'Как к вам обращаться'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					margin: 'mt-32',
					modifier: 'form'
				}
			},
			brandHeadingDissolution3: {
				data: {
					text: 'Для расторжения договора:'
				},
				bem: {
					tag: 'h4',
					color: 'black',
					margin: 'mt-32',
					modifier: 'form',
					fontSize: 'fz-20'
				}
			},
			brandHeadingIntroduction1: {
				data: {
					text: 'Внесение изменений'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingIntroduction2: {
				data: {
					text: 'Как к вам обращаться'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingConclusion1: {
				data: {
					text: 'Оформить полис'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandHeadingConclusion2: {
				data: {
					text: 'Как к вам обращаться'
				},
				bem: {
					tag: 'h3',
					color: 'black',
					modifier: 'form'
				}
			},
			brandInputFormNumberContract: {
				data: {
					text: 'Номер договора',
					type: 'text',
					name: 'CONTRACT_NUMBER',
					validate: 'text',
					error: 'Укажите номер договора',
					dataRegexp: '[^0-9a-zA-Z-.]',
					dataValueUppercase: true
				},
				bem: {
					margin: 'mb-32 mt-24'
				}
			},
			brandTextareaConclusion: {
				data: {
					dataValidate: 'text',
					dataError: 'Укажите данные'
				}
			},
			brandInputFormLastName: {
				data: {
					text: 'Фамилия',
					type: 'text',
					name: 'LAST_NAME',
					validate: 'text',
					error: 'Укажите фамилию'
				}
			},
			brandInputFormName: {
				data: {
					text: 'Имя',
					type: 'text',
					name: 'FIRST_NAME',
					validate: 'text',
					error: 'Укажите имя'
				}
			},
			brandInputFormSurname: {
				data: {
					text: 'Отчество',
					type: 'text',
					name: 'MIDDLE_NAME',
					validate: 'text',
					error: 'Укажите отчество'
				}
			},
			brandInputFormEmail: {
				data: {
					text: 'Email',
					type: 'text',
					name: 'EMAIL',
					validate: 'email',
					error: 'Укажите email'
				},
				opt: {
					emailMask: true
				}
			},
			brandInputFormPhone: {
				data: {
					text: 'Телефон',
					type: 'tel',
					name: 'PHONE',
					validate: 'number',
					error: 'Укажите мобильный номер телефона'
				}
			},
			brandInputFile: {
				data: {
					text: 'Перетащите или <span>загрузите</span> файл',
					textMobile: '<span>Загрузите</span> файл',
					type: 'file',
					imgSrc: require('IMAGES/megafon-form/plus.svg'),
					name: 'FILE',
					description: 'Допустимые форматы файлов — jpg, png, pdf. Максимальный размер 20 МB',
					validate: 'file',
					error: 'Загрузите документы'
				}
			},
			brandInputFileConclusion: {
				data: {
					text: 'Перетащите или <span>загрузите</span> файл',
					textMobile: '<span>Загрузите</span> файл',
					type: 'file',
					imgSrc: require('IMAGES/megafon-form/plus.svg'),
					name: 'FILE[]',
					description: 'Допустимые форматы файлов — jpg, png, pdf. Максимальный размер 20 МB'
				},
				bem: {
					multiple: 'multiple'
				}
			},
			brandInputFileAdjustment: {
				data: {
					text: 'Перетащите или <span>загрузите</span> файл',
					textMobile: '<span>Загрузите</span> файл',
					type: 'file',
					imgSrc: require('IMAGES/megafon-form/plus.svg'),
					name: 'FILE[]',
					description: 'Допустимые форматы файлов — jpg, png, pdf. Максимальный размер 20 МB',
					validate: 'file',
					error: 'Загрузите документы'
				},
				bem: {
					multiple: 'multiple'
				}
			},
			brandCheckboxConclusion: {
				data: {
					text: 'Соглашаюсь на обработку <a href="" target="_blank"> персональных данных</a>',
					id: 'conclusion',
					name: 'Оформить полис'
				},
				bem: {
					color: 'black'
				}
			},
			brandCheckboxAdjustment: {
				data: {
					text: 'Соглашаюсь на обработку <a href="" target="_blank"> персональных данных</a>',
					id: 'adjustment',
					name: 'Заявить о страховом случае'
				},
				bem: {
					color: 'black'
				}
			},
			brandCheckboxDissolution: {
				data: {
					text: 'Соглашаюсь на обработку <a href="" target="_blank"> персональных данных</a>',
					id: 'dissolution',
					name: 'Расторгнуть договор'
				},
				bem: {
					color: 'black'
				}
			},
			brandCheckboxIntroduction: {
				data: {
					text: 'Соглашаюсь на обработку <a href="" target="_blank"> персональных данных</a>',
					id: 'introduction',
					name: 'Внести изменения'
				},
				bem: {
					color: 'black'
				}
			},
			brandHeadingFinish: {
				data: {
					text: 'Ваше обращение принято'
				},
				bem: {
					tag: 'h3',
					color: 'black'
				}
			},
			brandButtonFinish: {
				data: {
					text: 'Понятно'
				},
				bem: {
					jsClass: 'btn-finish-feedback',
					modifier: 'square',
				}
			},
			brandParagraphFinish: {
				data: {
					text: 'Наши специалисты свяжутся с вами в ближайшее время'
				},
				bem: {
					color: 'black'
				}
			}
		},
		dataArr: {
			listDissolution: [
				{
					data: {
						text: 'Скачайте и заполните шаблон заявления'
					}
				},
				{
					data: {
						text: 'Распечатайте и подпишите'
					}
				},
				{
					data: {
						text: 'Прикрепите его к форме и отправьте нам'
					}
				}
			]
		}
	}
