-
	let sectionOnlineDownload = {
		elem: {
			Heading: {
				data: {
					text: 'Цифровая страховая в&nbsp;вашем смартфоне'
				},
				bem: {
					tag: 'h3'
				}
			},
			Row: {
				bem: {
					gap: 'g-md-24'
				}
			},
			ColLeft: {
				bem: {
					cols: 'col-6 col-md-6',
					display: 'd-flex',
					align: 'align-items-center'
				}
			},
			ColRight: {
				bem: {
					cols: 'col-6 col-md-6',
					display: 'd-flex',
					align: 'align-items-center'
				}
			},
			Text: {
				data: {
					text: 'В приложении можно оформить страховку, подать&nbsp;заявление на&nbsp;выплату и&nbsp;связаться со cлужбой заботы',
					tag: 'p'
				},
				bem: {
					size: 'l',
					margin: 'mt-8 mb-32',
				}
			},
			Button: {
				data: {
					text: 'Скачать приложение'
				},
				bem: {
					width: 'w-sm-100'
				},
				opt: {
					button: true
				}
			},
		},
		bem: {
			justify: 'justify-content-start',
			padding: 'pb-0'
		}
	}
