-
	const sectionBannerIndex = {
		data: {
			partnerLogo: require('IMAGES/index/index-partner-rgs-vtb.svg'),
			idButton: 'buttonIndex'
		},
		elem: {
			Col: {
				bem: {
					display: 'd-flex',
					direction: 'flex-column',
					alignItems: 'align-items-center'
				}
			},
			Heading: {
				data: {
					text: 'Cтраховая защита'
				},
				bem: {
					tag: 'h1',
					color: 'white'
				}
			},
			TypeitText: {
				data: {
					dataTypeitString: 'вашей квартиры;вашего дома;вашего здоровья;вашего питомца;для занятий спортом;от укусов клещей',
					dataTypeitShowCursor: 'custom',
					dataTypeitCursorSpacing: '0',
					dataTypeitColorText: 'linear-gradient(89.53deg, #1698D9 2.27%, #F49BFC 56.7%, #F3566A 98.15%); linear-gradient(89.53deg, #1698D9 2.27%, #F49BFC 56.7%, #F3566A 98.15%); linear-gradient(90.2deg, #1698D9 22.03%, #56F395 77.06%); linear-gradient(89.76deg, #0E91E4 1.94%, #F356ED 51.32%, #FFD027 101.75%); linear-gradient(90.2deg, #1698D9 22.03%, #56F395 77.06%); linear-gradient(330.19deg, #F199FF 7.18%, #5C33FF 71.63%)',
					// dataTypeitSync: '1'
				},
			},
			Text: {
				data: {
					tag: 'p',
					text: 'Быстрые&nbsp;выплаты.&nbsp;  Гибкая&nbsp;настройка.&nbsp; Полный&nbsp;онлайн.'
				},
				bem: {
					size: 'xxl',
					color: 'white',
					fw: 'bold',
					margin: 'mt-40 mt-l-32 mt-lg-24',
					position: 'center'
				}
			},
			Button: {
				data: {
					text: 'Выбрать защиту'
				},
				bem: {
					margin: 'mt-40 mt-sm-32',
					width: 'w-sm-100'
				}
			}
		},
		bem: {
			roundingEffect: 'rounding-effect'
		}
	}
