-
	let sectionSliderCards = {
		elem: {
			Heading: {
				data: {
					text: 'С кем мы работаем',
				},
				bem: {
					tag: 'h2',
					margin: 'mb-40'
				},
			},
			Slider: {
				data: {
					dataSlidesPerView: 4,
					dataSlidesPerViewMd: 3,
					dataSlidesPerViewSm: 2,
					dataSlidesPerViewXs: '1.5',
					dataSliderLoop: 'loop',
				}
			},
			SliderSlides: [
				{
					elem: {
						CardSimpleImage: {
							data: {
								imgSrc: require('IMAGES/index/partner-vtb.webp')
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								imgSrc: require('IMAGES/page-about-company/partners-velobike.webp')
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								imgSrc: require('IMAGES/page-about-company/partners-rostelecom.webp')
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								imgSrc: require('IMAGES/page-about-company/partners-tele2.webp')
							}
						},
					},
				},
				{
					elem: {
						CardSimpleImage: {
							data: {
								imgSrc: require('IMAGES/index/partner-fourpaw.webp')
							}
						},
					},
				},
			],
		},
	}
