-
	let sectionReviews = {
		elem: {
			reviewsStatistic: {
				elemArr: [
					{
						elem: {
							brandHeading: {
								data: {
									text: '4.9'
								},
								bem: {
									color: 'black',
									tag: 'h2'
								},
							},
							brandParagraph: {
								data: {
									text: 'рейтинг в App Store'
								},
								bem: {
									color: 'black'
								}
							},
						},
						data: {
							srcFullStar: require('IMAGES/page-pets/full-star.svg'),
							srcHalfStar: require('IMAGES/page-pets/half-star.svg'),
						}
					},
					{
						elem: {
							brandHeading: {
								data: {
									text: '195 000'
								},
								bem: {
									color: 'black',
									tag: 'h2'
								},
							},
							brandParagraph: {
								data: {
									text: 'человек воспользовались <br class="br-lg"> нашими продуктами'
								},
								bem: {
									color: 'black'
								}
							},
						}
					},
					{
						elem: {
							brandHeading: {
								data: {
									text: '4.3'
								},
								bem: {
									color: 'black',
									tag: 'h2'
								},
							},
							brandParagraph: {
								data: {
									text: 'рейтинг в Google Play'
								},
								bem: {
									color: 'black'
								}
							},
						},
						data: {
							srcFullStar: require('IMAGES/page-pets/full-star.svg'),
							srcHalfStar: require('IMAGES/page-pets/half-star.svg'),
						}
					},
				]
			},
			brandMainSlider: {
				data: {
					dataSlider: 'reviews'
				},
				bem: {
					type: 'bottom-navigation',
					customClass: 'pets',
					// animation: 'autoplay'
				},
				arrData: [
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people1.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'Отправляла 9-летнего сына на отдых в летний лагерь. Там он повредил руку, диагностировали перелом лучезапястного сустава. к счастью, мы были застрахованы по программе «Пульс. Детский лагерь», и за считанные дни вопрос с выплатой был решен. Хотелось бы застраховать у вас всю семью, очень нравится ваша оперативность...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Лариса'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Альметьевск'
								},
								bem: {
									color: 'gray'
								}
							},
						},
						opt: {
							active: true
						}
					},
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people2.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'Мой ребенок 8 лет был застрахован по программе «Пульс. Детский лагерь», и в лагере получил травму руки. Диагноз – перелом двух костей правого предплечья без смещения. Я сразу же обратилась в поддержку СК «Пульс» и буквально на следующий день пришла положенная компенсация – 50 тыс. руб. Благодарю...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Ирина'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Калужская область'
								},
								bem: {
									color: 'gray'
								}
							},
						}
					},
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people3.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'На кухне из-за образовавшегося свища прорвало шланг к смесителю, квартиру залило так, что повредился ламинат в гостиной. У меня оформлена подписка «Пульс. Дом», и скорость работы страховой в хорошем смысле удивила. Конечно, буду рекомендовать вас своим близким и знакомым! Спасибо за оперативное решение вопроса...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Максим'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Москва'
								},
								bem: {
									color: 'gray'
								}
							},
						},
					},
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people4.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'В апреле оформили защиту «Пульс. Движение» для нашего пятилетнего сына. Спустя месяц ребенок сломал руку. Обратились в страховую, предоставили нужные сведения, и вскоре на карту поступила компенсация в размере 25 тыс. Все на высшем уровне! Большое спасибо...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Надежда'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Новомосковск'
								},
								bem: {
									color: 'gray'
								}
							},
						},
					},
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people5.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'В июле во время пребывания в лагере наш 11-летний сын упал и сломал зуб. На решение вопроса ушло меньше недели, оперативно получили положенную выплату в 15 тыс. Спасибо...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Марат'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Казань'
								},
								bem: {
									color: 'gray'
								}
							},
						},
					},
					{
						elem: {
							clientSrcImg: require('IMAGES/index/people6.svg'),
							brandParagraphClientInfo: {
								data: {
									text: 'В середине июня оформил подписку «Пульс. Дом» и вскоре убедился, что очень вовремя это сделал, потому что меня залили соседи сверху. Причем довольно капитально, с большим ущербом. Спасибо СК «Пульс» – и выплата в 173 тысячи была получена в тот же день, как я предоставил полный пакет документов...'
								},
								bem: {
									color: 'black',
									margin: 'mb-16'
								}
							},
							brandParagraphClientName: {
								data: {
									text: 'Александр'
								},
								bem: {
									color: 'gray'
								}
							},
							brandParagraphClientCity: {
								data: {
									text: 'Москва'
								},
								bem: {
									color: 'gray'
								}
							},
						},
					},
				],
				opt: {
					bottomLeftPagination: true,
					reviewCard: true,
				}
			}
		},
		bem: {
			roundingEffect: 'rounding-effect',
			backgroundColor: 'white',
			margin: 'pt-120 pb-180 pt-l-80 pb-l-120 pt-sm-60 pb-sm-100',
			customClass: 'index',
		},
		opt: {
			radius: true,
			reviewsStatistic: true
		}
	}
