//- # ПОДКЛЮЧЕНИЕ LAYOUT # -//
extends ../../app/layout/main/main

block variables
	//- # ПОДКЛЮЧЕНИЕ STORE СТРАНИЦЫ # -//
	include store/index.store.pug

block include-css
	link(rel="stylesheet" href=require('./index.scss'))/

block main
	main
		//- # ПОДКЛЮЧЕНИЕ СЕКЦИЙ НА СТРАНИЦУ ИЗ STORE СТРАНИЦЫ # -//
		for section, key in index.getSections
			+S(`${index.getSections[key].section}`, index.getSections[key])

block extra-content

append include-js
	script(src=require('./index-script.ts') defer)
