//- # ПОДКЛЮЧЕНИЕ LAYOUT # -//
extends ../../app/layout/main/main

block variables
	//- # ПОДКЛЮЧЕНИЕ STORE СТРАНИЦЫ # -//
	include store/index.store.pug

block include-css
	link(rel="stylesheet" href=require('./index.scss'))/

block main
	main
		//- # ПОДКЛЮЧЕНИЕ СЕКЦИЙ НА СТРАНИЦУ ИЗ STORE СТРАНИЦЫ # -//
		for section, idx in index.getSections
			+S(`${index.getSections[idx].section}`, section)

block extra-content
	//- # ПОДКЛЮЧЕНИЕ ДОПОЛНИТЕЛЬНЫХ БЛОКОВ НА СТРАНИЦУ ИЗ STORE СТРАНИЦЫ (POPUP, MODAL WINDOW, COOKIE и т.д.) # -//
	for extraContent, idx in index.getSections
		+S(`${index.getSections[idx].include}`, extraContent)

append include-js
	script(src=require('./index-script.ts') defer)
