mixin S(nameSection, variablesSection)
	case nameSection
		when 'Test'
			if typeof pug_mixins[`${nameSection}`] !== 'function'
				include Test/Test
				+Test(variablesSection)&attributes(attributes)
			else
				+Test(variablesSection)&attributes(attributes)

		when 'Testing'
			if typeof pug_mixins[`${nameSection}`] !== 'function'
				include Testing/Testing
				+Testing(variablesSection)&attributes(attributes)
			else
				+Testing(variablesSection)&attributes(attributes)
